[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/serial-programmer"]
	path = themes/serial-programmer
	url = https://github.com/sharadcodes/hugo-theme-serial-programmer.git
